@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans'), url('/fonts/Open_Sans/subset-OpenSans-Bold.woff2') format('woff2'), url('/fonts/Open_Sans/subset-OpenSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), url('/fonts/Open_Sans/subset-OpenSans-Light.woff2') format('woff2'), url('/fonts/Open_Sans/subset-OpenSans-Light.woff') format('woff');
}
